html {
  height:100%;
  background: #d8d8d8;;
}

body {
  display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 375px;
    margin: 0 auto;
    background: white;
}

img {
  width: 100%
}

footer {
  margin: 0.5rem 0;
  position: fixed;
  bottom: 34px;
}

footer img {
  max-width:375px;
}

main {
  top: -5px;
  position: relative;
  height: 86%;
  display: block;
  overflow: scroll;
}

#preview_page{
  min-height: 100%!important;
}